@using Wyam.Common.Documents;
@using Wyam.Common.Execution;
@using Wyam.Common.Configuration;
@using Wyam.Common.Meta;

@{
    var context = Context as IExecutionContext;
    var model = Model as IDocument;
    IReadOnlySettings settings = context.Settings;
    IMetadata metadate = model.Metadata;
}
<p>Hello, World!!</p>